# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@ticket.2vlslck.mongodb.net/ticket_system

# JWT Secrets (PRODUCTION-da mütləq dəyişdirin)
JWT_USER_SECRET=dev-user-secret-change-in-prod-please-use-strong-random-string
JWT_ADMIN_SECRET=dev-admin-secret-change-in-prod-please-use-strong-random-string

# Email (Namecheap Private Email)
MAIL_HOST=mail.privateemail.com
MAIL_PORT=465
MAIL_USER=info@zootrend.az
MAIL_PASSWORD=21Uc4UA@
MAIL_FROM_NAME=Ticket Sistemi

# CORS
FRONTEND_URL=http://localhost:3000
